pystyle
requests 
inquirer
colorama
moviepy
rich
requests-html
requests-random-user-agent
playwright
undetected-chromedriver
beautifulsoup4
selenium
numpy
scikit-image
torch
torchvision
tensorboard
pillow
opencv-python
gdown
wmi
psutil